beautifulsoup4==4.8.2
dateutils==0.6.8
Flask==1.1.2
Flask-Cors==3.0.8
en-core-web-sm==2.2.5
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
matplotlib==3.2.1
nltk==3.4.5
numpy==1.22.0
pandas==1.0.3
python-slugify==2.0.1
regex==2019.8.19
requests==2.22.0
scikit-learn==0.22.2.post1
sklearn==0.0
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-estimator==2.1.0
urllib3==1.25.6
vaderSentiment==3.3.1
wordcloud==1.6.0
yfinance==0.1.54
